<!DOCTYPE html>
<html>
  <head>

 <center> <%= image_tag ("intent_header.png"), width:'450px', height:'200px' %> </center>


<center><% if !current_model %>

<%= link_to "Sign Up", :new_model_registration %>
<%= link_to "Log In", :new_model_session  %>
<% end %>

<% if model_signed_in? %>
 <nav> <%= link_to "My Account", current_model %>
  <%= link_to('Intentions', intentions_path) %>
  <%= link_to('Manifestations', manifestations_path) %>
  <%= link_to('Reflections', reflections_path) %> 
  <%= link_to('Logout', destroy_model_session_path, method: :delete) %>
<% end %></nav></center>
 

    <title>Intent</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
    
  </head>

  <body>

  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>

    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
